@import "reset";

$heading_color: #00ff00;
$main_font: Arial, Helvetica, sans-serif;
$main_font_color: gray;

h1 {
    color: $heading_color;
}

body {
    color: $main_font_color;
}

@mixin warning {
    color: #ff0000;
    font-size: 1.5em;
}

.danger {
    @include warning;
    font-family: $main_font;
}

.jumbotron {
    width: 100%;
    background-color: lightblue;
    border: 2px solid navy;
}

.jumbotron_about {
    @extend .jumbotron;
    color: #333333;
}